.DS_Store
/.gitconfig
/.gradle/
/_assets/
/_site/
/_tmp/
/build/
mulesoft-docs.iml
.idea/

mule-user-guide/v/3.7/_images/mq-dataweave.png

runtime-manager/v/latest/_images/cloudhub-connector-install.png

anypoint-platform-administration/v/latest/managing-cloudhub-specific-settings.adoc

anypoint-platform-for-apis/v/latest/_images/API+designer+link.png
