<!-- BEGIN_INCLUDE(zuora:invoke-soap-service) -->
    <zuora:invoke config-ref="Zuora__Basic_Authentication" soapMetadataKey="metadata key" doc:name="Zuora"/>
<!-- END_INCLUDE(zuora:invoke-soap-service) -->
<!-- BEGIN_INCLUDE(zuora:get-export-file-content) -->
    <zuora:get-export-file-content config-ref="Zuora__Basic_Authentication"  exportId="id" />
<!-- END_INCLUDE(zuora:get-export-file-content) -->
<!-- BEGIN_INCLUDE(zuora:get-export-file-stream) -->
    <zuora:get-export-file-stream config-ref="Zuora__Basic_Authentication"  exportId="id" />
<!-- END_INCLUDE(zuora:get-export-file-stream) -->
